@font-face {
  font-family: 'ft-icon';
  src: url('Firetail-Icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ft-icon {
  font-family: 'ft-icon' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}