body {
    margin: 0;
    background: url(bg_classic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Karla', 'VCR OCD MONO', Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: default;
    user-select: none;
}

.title-bar {
    -webkit-app-region: drag;
    width: 100%;
    height: 35px;
    background: rgba(0,0,0,.2);
    margin: 0;
}

.title-bar-name {
    margin: 0;
    float: left;
    padding: 7px;
}

.title-bar-wrapper {
    float: right;
    -webkit-app-region: no-drag;
    margin-right: 3px;
}

.tb-button {
    width: 20px;
    height: 15px;
    display: inline-block;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.tb-button:hover {
    background: rgba(0,0,0,.3);
}

h1.header-heading {
    font-family: Streamster;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 5px;
    font-size: 64px;
    color: #fff;
    text-shadow: 0px 0px 15px rgba(249, 97, 226, 0.75);
}

.header-beta {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    display: inline-block;
}

select.song-select {
    width: 430px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background: rgba(177, 34, 146, 0.75);
    box-shadow: 0px 0px 15px rgba(249, 97, 226, 0.75);
    color: #fff;
    font-family: 'Karla', 'VCR OCD MONO', Arial, Helvetica, sans-serif;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: .2s;
    text-align: center;
    text-align-last: center; 
}

select.song-select:hover {
    opacity: .75;
    transition: .2s; 
}

button:hover, .button-active {
    opacity: .75;
    transition: .2s; 
}

.button-active {
    cursor: default; 
}

button, label {
    display: inline-block;
    background: rgba(177, 34, 146, 0.75);
    box-shadow: 0px 0px 15px rgba(249, 97, 226, 0.75);
    color: #fff;
    font-family: 'Karla', 'VCR OCD MONO', Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 35px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

label {
    padding-top: 8px; 
}

input[type="file"] {
    display: none !important; 
}

div.playing-now {
    display: none; 
}

div.playing-now-active {
    display: block; 
}

.seek-bar {
    margin: 10px;
    width: 350px;
    background: rgba(177, 34, 146, 0.75);
    display: flex;
    align-items: center;
    border-radius: 999px;
    cursor: pointer; 
    height: 7px;
}

.seek-bar .fill {
    height: 7px;
    background: rgb(252, 112, 221);
    border-radius: 10000px; 
}

.seek-bar .handle {
    width: 10px;
    height: 10px;
    background: rgb(252, 112, 221);
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.5);
    transition: all .1s;
    box-shadow: 0px 0px 15px rgba(249, 97, 226, 0.75); 
}

h1#songTitle {
    text-shadow: 0px 0px 10px rgba(249, 97, 226, 0.75); 
    max-width: 720px;
    font-size: 26px;
    margin-bottom: 0px;
}

.handle-hover {
    background-color: #ffa1e9 !important;
    transform: scale(2.25) !important;
    box-shadow: 0px 0px 5px rgba(249, 97, 226, 0.75) !important; 
}

div#ifIE {
    width: 580px;
    height: 75px;
    margin: 0;
    background: #ff5e00; 
}

div#ifIE p {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; 
}

div.new-nowplaying {
    width: 100%;
    height: 175px;
    background: rgba(177, 34, 146, 0.75);
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -1px 8px rgba(249, 97, 226, 0.75) !important; 
}

.not-playing {
    opacity: .65 !important;
}

div#new {
    height: 100%
}

ul {
    list-style-type: none;
    text-align: left;
    height: 300px;
    overflow-y: auto;
    font-size: 22px;
    width: 80%;
    position: relative;
    padding: 0;
    text-shadow: 0px 0px 10px rgba(249, 97, 226, 0.75); 
}

li {
    border: 2px solid rgba(255,255,255,.4);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;
    cursor: pointer;
}

li:hover {
    background: rgba(255,255,255,.4);
}