body {
    text-overflow: ellipsis;
    overflow: hidden;
}

:root {
    --bg: #1a1a1a;
    --text: #ffffff;
    --fg-bg: #1e1e1e;
    --bd: #2d2d2d;
    --li-hv: #212121;
    --logo: 1;
    --switch: #3d3d3d;
    --ext: #000000;
    --txt-shadow: 0px 1px 5px rgba(0,0,0,.45);
    --seek: rgba(255,255,255,.15);
    --fade: linear-gradient(transparent, rgba(0,0,0,.65));
}

html.black {
    --bg: #000000;
    --text: #dfdfdf;
    --fg-bg: #030303;
    --bd: #272727;
    --li-hv: #080808;
    --logo: 1;
    --switch: #1f1f1f;
}

html.light {
    --bg: #f5f5f5;
    --text: #3d3d3d;
    --fg-bg: #ffffff;
    --bd: #cccccc;
    --li-hv: #dddddd;
    --logo: 0.25;
    --switch: #cccccc;
    --ext: #ffffff;
    --txt-shadow: none;
    --seek: rgba(0,0,0,.15);
    --fade: linear-gradient(transparent, rgba(255,255,255,.65));
}

.album-art {
    height: 55px;
    width: 55px;
    position: relative;
    z-index: 2;
    border-radius: 3px;
    margin-left: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.25)
}

.metadata {
    display: flex;
    align-items: center;
    width: 255px;
    -webkit-app-region: drag;
    height: 70px;
}

.song-title {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Dosis', sans-serif;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 0 10px 0 20px;
}

.meta-text.bg, .extra-buttons.bg {
    text-shadow: var(--txt-shadow);
}

.song-artist {
    opacity: .75;
    font-size: 14px;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    padding: 0 10px 0 20px;
}

.meta-text {
    width: 150px;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls i {
    margin: 10px 10px 5px 10px;
    cursor: pointer;
}

.seek-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seek-wrap p {
    margin-top: 0;
    margin: 0 0 5px 0;
    text-align: center;
    position: relative;
}

.seek-bar-wrapper {
    width: 180px
}

.top-section {
    display: flex;
}

.extra-buttons {
    width: 40px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    right: 0;
}

.extra-buttons i {
    font-size: 24px;
    padding: 8px;
    padding-top: 0;
    cursor: pointer;
}

.extra-buttons i:hover {
    color: var(--hl-txt) !important;
    transform: scale(1.2);
}

.seek-bar {
    width: 175px;
    background: var(--seek)
}

.controls i:hover {
    color: var(--hl-txt) !important;
    transform: scale(1.2);
}

.bottom-section {
    position: relative;
    z-index: 2;
    height: 75px;
}

.song-duration {
    margin: 0 5px !important
}

.blur-bg {
    position: fixed;
    width: 325px;
    height: 230px;
    z-index: 1;
    background: var(--ext);
    filter: blur(10px);
}

.album-bg {
    width: 110%;
    height: 130%;
    background-size: cover;
    background-position: center;
    opacity: .35;
    transform: translateX(-20px);
}

.fade {
    position: fixed;
    width: 315px;
    height: 230px;
    z-index: 2;
    background: var(--fade);
}