@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'Dosis Bold';
    src: url('../fonts/Dosis-Bold.otf') format('opentype')
}

html, body {
    margin: 0;
    background: #1a1a1a;
    font-family: 'Dosis', Arial, Helvetica, sans-serif !important;
    color: #fff;
    user-select: none;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    box-shadow: -1px 0px 20px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none
}

.title-bar {
    -webkit-app-region: drag;
    width: 100%;
    height: 32px;
    margin: 0;
    position: fixed;
    z-index: 12;
    background: #1e1e1e;
    border-bottom: 2px solid #2d2d2d;
    transition: .15s;
}

.title-bar-wrapper {
    float: right;
    -webkit-app-region: no-drag;
}

.tb-button {
    width: 43px;
    height: 32px;
    display: inline-block;
    margin: 0;
    transition: .2s;
}

.tb-button svg {
    position: relative;
    top: 6px;
}

.tb-button:hover {
    background: rgb(37, 37, 37);
}

.tb-close:hover {
    background: #ff0000;
}

h1.header-heading {
    font-family: 'Bahnschrift', 'Dosis', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

#headerIcon {
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    margin-left: 25px;
}

#betaTag {
    text-align: center;
    font-size: 9px;
    font-family: 'Bahnschrift', 'Dosis', sans-serif;
    margin-top: 0;
    opacity: .65;
    position: relative;
    transform: translateY(-15px);
    left: 0;
    margin-left: 0;
}

.header-beta {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    display: block;
    opacity: .65;
    font-weight: bold;
    font-size: 14px;
}

button {
    background: #7f00b9;
    color: #fff;
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
    font-weight: bold;
    width: auto;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

button:hover, .button-active {
    background: #ae00ff;
    transition: .2s;
    box-shadow: 0px 2px 15px rgba(149, 47, 196, 0.65);
    transform: scale(1.05)
}

.button-active:hover {
    background: linear-gradient(to right, #9a07df, #c500bb) !important
}

.button-active {
    cursor: default;
    background: linear-gradient(to right, #9a07df, #c500bb)
}

.seek-bar {
    margin: 10px;
    width: 450px;
    background: #2d2d2d;
    display: flex;
    align-items: center;
    border-radius: 999px;
    height: 5px;
    transition: .15s;
    z-index: 5
}

@media screen and (max-width: 1750px) {
    .seek-bar {
        width: 350px;
    }
}

@media screen and (max-width: 1450px) {
    .seek-bar {
        width: 280px;
    }
}

@media screen and (max-width: 1000px) {
    .seek-bar {
        width: 200px;
    }
}

@media screen and (max-width: 800px) {
    .seek-bar {
        width: 150px;
    }
}

.np-wrapper {
    width: 100%;
    position: relative;
    height: 100%;
}

.fill {
    height: 5px;
    background: linear-gradient(to right, #9a07df, #c500bb);
    border-radius: 10000px; 
    transition: .1s;
}

.handle {
    width: 0px;
    height: 0px;
    background: #ae00ff;
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.75);
    transition: all .1s;
    box-shadow: 0px 2px 15px rgba(174, 0, 255, 0.65)
}

#newPlay {
    margin-top: 0;
}

.handle-hover {
    background-color: #ae00ff !important;
    width: 8px !important;
    height: 8px !important;
    transition: all .1s !important;
}

.np-active {
    transition: .2s ease-in-out;
    transform: translateY(0px);
}

.not-playing {
    opacity: .65 !important;
}

div#new {
    height: 100%
}

ul {
    list-style-type: none;
    text-align: left;
    font-size: 22px;
    position: fixed;
    padding: 0;
    height: calc(100% - 183px);
    margin: 0;
    white-space: nowrap;
    background: #1a1a1a;
    margin-top: 21px;
    width: 100%;
    overflow-y: scroll;
}

li {
    border-bottom: 1px solid #2d2d2d;
    padding: 0 0 5px 0;
    overflow: hidden;
    position: relative;
    height: 35px;
    margin-left: 192px;
}

li:hover {
    background: #212121;
}

.open-file-browser {
    color: #c464f1;
    cursor: pointer;
    transform: translateX(-40px);
}

p.new-song-title {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    transform: translateX(15px);
}

.results-link p {
    font-size: 16px;
    width: 100%;
}

div.new-nowplaying i {
    font-size: 26px;
    margin: 12px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: .2s;
}

#shuffleButton, #repeatButton {
    font-size: 22px;
    position: relative;
    top: 2px;
}

div.new-nowplaying i:hover {
    color: #c464f1 !important;
    transition: .2s;
}

#newContent {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
}

.list-wrapper {
    position: relative;
    height: 100%;
}

#newContentWrapper {
    position: relative;
    border-radius: 10px;
    width: 100%;
}

#playType button {
    display: block !important
}

#playType {
    display: inline-block;
    padding-top: 40px;
    vertical-align: top;
    position: fixed;
    z-index: 9;
    background: #1e1e1e;
    border-right: 2px solid #2d2d2d;
    height: 100%;
    width: 190px;
    box-shadow: 1px 0px 20px rgba(0,0,0,.3);
}

.play-type-wrapper {
    height: calc(100% - 135px);
    overflow-y: auto;
}

.play-type-wrapper::-webkit-scrollbar {
    display: none;
}

#playType button {
    width: 150px;
    margin-left: 20px;
}

.play-pause {
    font-size: 24px !important;
    padding: 0;
    vertical-align: middle;
    transform: translateX(7px);
    cursor: pointer;
    position: relative;
}

.play-pause:hover {
    opacity: .65 !important;
}

#new {
    overflow-y: hidden;
    white-space: nowrap;
}

.app-content {
    margin-top: 60px;
    position: relative;
    padding-bottom: 82px;
}

div.type-separator {
    width: 140px !important;
    height: 3px;
    background: #3d3d3d;
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

@keyframes settingsEntry {
    from {
        top: 45%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes settingsEntryBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#settings {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.35);
    z-index: 11;
    position: fixed;
    align-items: center;
    top: 0;
    animation: settingsEntryBg .2s;
}

#settingsContent {
    width: 650px;
    height: 250px;
    background: #242424;
    z-index: 120;
    position: absolute;
    left: 50%;
    top: 50%;
    vertical-align: top;
    animation: settingsEntry 0.2s;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#settingsContent p {
    font-size: 42px;
    text-align: center;
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
}

#audiationVer {
    font-size: 18px !important;
    opacity: .25;
    text-align: right !important;
    margin: 10px;
}

#settingsClose {
    margin-top: 25px;
}

#songPicture {
    width: 55px;
    height: 55px;
    margin: 15px;
    left: 0;
    position: fixed;
    border-radius: 3px;
    z-index: 2;
    transition: .15s;
    transition-property: background, transform;
    background: url(../svg/no_image.svg);
    background-position: center !important;
    background-size: cover !important;
}

.np-buttons i {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #1e1e1e;
    overflow: hidden;
    z-index: 10;
}

.np-buttons {
    width: 50%;
}

.title-artist {
    text-align: left !important;
    margin-top: 3px;
    margin-left: 80px;
    width: 20%;
    overflow: hidden;
    float: left;
    position: absolute;
}

.song-duration, .seek-bar-wrapper {
    display: inline-block;
}

.song-duration {
    position: relative;
    margin: 10px;
    top: 2px;
    margin-top: 5px;
    min-width: 40px;
}

h1#songTitle {
    font-size: 18px;
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
    margin: 15px;
    margin-left: 7px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding-top: 15px;*/
    text-shadow: 0px 0px 10px #1d1d1d;
    display: block;
    line-height: 22px;
}

#artist {
    margin: 7px;
    opacity: .75;
    font-size: 14px;
    display: block;
    text-overflow: ellipsis;
    line-height: 18px;
}

div.new-nowplaying {
    width: 100%;
    height: 85px !important;
    min-height: 85px !important;
    margin-top: 15px;
    background: #1e1e1e;
    border-top: 2px solid #2d2d2d;
    position: fixed;
    overflow: visible !important;
    overflow-y: visible !important;
    display: block;
    bottom: 0px;
    transition: .2s ease-in-out;
    z-index: 9;
    box-shadow: 0px -1px 20px rgba(0,0,0,.3);
}

#controls {
    overflow: hidden;
    background: #1e1e1e;
    width: 720px;
    height: auto;
    z-index: 15
}

button i {
    vertical-align: top;
    position: relative;
    margin-right: 12px;
}

.top-bar {
    margin-top: 0;
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    background-color: #1e1e1e;
    border-bottom: 2px solid #2d2d2d;
    height: 45px;
    position: fixed;
    left: 175px;
    top: 30px;
    z-index: 8;
    box-shadow: 0px 1px 20px rgba(0,0,0,.3);
    font-family: 'Dosis Bold', 'Dosis', sans-serrif;
    display: flex;
}

.top-bar h2 {
    margin: 14px 17px 0 17px;
    font-size: 18px;
    opacity: .65;
    transition: .2s;
    text-transform: uppercase;
}

.top-bar h2:hover {
    opacity: .9;
}

.tab-active {
    font-size: 24px !important;
    opacity: 1 !important;
    margin: 10px 17px 0 17px !important;
}

.shadow-hide {
    z-index: 10;
    background-color: #1e1e1e;
    border-bottom: 2px solid #2d2d2d;
    position: fixed;
    height: 65px;
    top: 30px;
    width: 20px;
    left: 190px;
}

.seek-bar-wrapper {
    padding-top: 3px;
    padding-bottom: 3px;
    position: inherit;
    z-index: 15;
}

#noDrag {
    -webkit-app-region: no-drag;
    width: 100%;
    height: 2px;
    position: fixed;
}

.volume-control {
    position: fixed;
    margin-right: 15px;
    display: flex;
    z-index: 10;
    transition: .2s;
    right: 0;
    bottom: 7px;
}

#volumeButton {
    font-size: 20px;
    bottom: 20px;
    transition: .2s;
}

#volWrapper {
    display: flex;
    transition: .2s;
}

.vol-bar {
    display: flex;
    position: relative;
    transition: .2s;
    bottom: 0;
}

.vol-box {
    width: 5px;
    height: 5px;
    background: #3d3d3d;
    padding: 0 2px 0 2px;
    z-index: 16;
    transition: height .2s;
}

.vol-box:first-child {
    border-radius: 7px 0 0 7px;
}

.vol-box:last-child {
    border-radius: 0 7px 7px 0;
}

.plus-minus {
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 5px;
    float: right;
    transition: .2s;
    z-index: 16;
}

#songPictureBlur {
    width: 55px;
    height: 55px;
    margin: 15px;
    left: 0;
    top: 2px;
    position: fixed;
    border-radius: 3px;
    transform: scale(1.05);
    z-index: 1;
    opacity: .5;
    filter: blur(5px);
    background: url(../svg/no_image.svg);
    background-position: center !important;
    background-size: cover !important;
    transition: .15s;
    transition-property: background, opacity, transform;
}

.song-picture-decrease, .song-blur-hidden {
    transform: scale(.85);
}

.song-blur-hidden {
    opacity: 0 !important;
    transition: .15s;
}

.active-tab {
    display: inherit !important;
}

.placeholder-message, #songsPage {
    display: none;
}

.placeholder-message {
    margin: 50px 0 0 210px;
}

.vol-change {
    height: 30px;
}

#effectsMenu {
    position: fixed;
    top: 34px;
    z-index: 11;
    opacity: 0;
    transition: .2s;
    width: 100%;
    height: calc(100% - 34px);
}

.effects-bg {
    position: fixed;
    background: rgba(0, 0, 0, .45);
    height: 100%;
    width: 100%;
    transition: .25s;
    z-index: 12;
}

.effects-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 13;
    width: 100%;
    height: 100%;
}

.effects-menu {
    width: 650px;
    height: 300px;
    background: #1e1e1e;
    border-radius: 10px;
}

.effects-margin {
    margin: 30px;
}

h1 {
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
}

.close-button {
    position: relative;
    float: right;
    font-size: 28px !important;
    cursor: pointer;
}

.effect-controls {
    position: relative;
    max-height: 180px;
    overflow-y: auto;
}

.effect-controls input[type=number] {
    background: #141414;
    color: #fff;
    outline: none;
    border: 2px solid #2d2d2d;
    border-radius: 20px;
}