@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'Dosis';
    font-weight: bold;
    src: url('../fonts/Dosis-Bold.otf') format('opentype')
}

html, body {
    margin: 0;
    background: var(--bg);
    font-family: 'Dosis', Arial, Helvetica, sans-serif !important;
    color: var(--text);
    user-select: none;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

html.dark {
    --bg: #1a1a1a;
    --text: #ffffff;
    --fg-bg: #1e1e1e;
    --bd: #2d2d2d;
    --li-hv: #212121;
    --logo: 1;
    --switch: #3d3d3d;
}

html.light {
    --bg: #f5f5f5;
    --text: #3d3d3d;
    --fg-bg: #ffffff;
    --bd: #cccccc;
    --li-hv: #dddddd;
    --logo: 0.25;
    --switch: #cccccc;
}

html.audiation {
    --btn: #7f00b9;
    --btn-hover: #ae00ff;
    --btn-active: #c300ff;
    --handle: #c500bb;
    --glow: rgba(149, 47, 196, 0.65);
    --grad: linear-gradient(to right, #9a07df, #c500bb);
    --hl-txt: #c464f1;
}

html.firetail {
    --btn: #b92500;
    --btn-hover: #d46000;
    --btn-active: #d66000;
    --handle: #ff9100;
    --glow: rgba(196, 82, 47, 0.65);
    --grad: linear-gradient(to right, #b92500, #ff9100);
    --hl-txt: #df5a25;
}

html.nature {
    --btn: #2c7700;
    --btn-hover: #2dbd02;
    --btn-active: #2cb900;
    --handle: #47bf00;
    --glow: rgba(59, 179, 27, 0.65);
    --grad: linear-gradient(to right, #154a00, #47bf00);
    --hl-txt: #3a9a01;
}

#TitleBarMinimize rect, .tb-unmaximize svg path, #TitleBarClose {
    fill: var(--text)
}

#TitleBarMaximize rect {
    stroke: var(--text)
}

::-webkit-scrollbar {
    width: 13px !important;
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    border: solid 5px var(--bg);
    background: var(--bd);
}

::-webkit-scrollbar-button {
    display: none
}

.title-bar {
    -webkit-app-region: drag;
    width: 100%;
    height: 30px;
    margin: 0;
    position: fixed;
    z-index: 12;
    background: var(--fg-bg);
    border-bottom: 2px solid var(--bd);
}

.title-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tb-button {
    -webkit-app-region: no-drag;
    width: 46px;
    height: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-button:hover {
    background: var(--li-hv);
    opacity: 1 !important;
}

.tb-close:hover {
    background: #E81123;
}

h1.header-heading {
    font-family: 'Bahnschrift', 'Dosis', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--text);
    display: inline-block;
}

#headerIcon {
    display: inline-block;
    width: 35px;
    text-align: center;
    margin: 0 10px 0 0;
    filter: brightness(var(--logo));
}

#betaTag {
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    border: solid 2px var(--text);
    color: var(--text);
    opacity: .75;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    position: relative;
    top: 1px;
    font-weight: bold;
}

.icon-text {
    font-weight: bold;
    font-size: 20px;
}

.logo-bottom {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    height: 40px;
    top: 35px;
}

.header-beta {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    display: block;
    opacity: .65;
    font-weight: bold;
    font-size: 14px;
}

button {
    background: var(--btn);
    color: #fff;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    width: auto;
    height: 37px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    overflow: hidden;
    display: flex;
}

button.round {
    border-radius: 7px;
}

button:hover, .button-active {
    background: var(--btn-hover);
    transition: .2s;
    box-shadow: 0px 2px 15px var(--glow);
    transform: scale(1.05)
}

button.button-active {
    cursor: default;
    background: var(--btn-active) !important;
}

.seek-bar {
    margin: 10px;
    width: 95%;
    background: var(--bd);
    display: flex;
    align-items: center;
    border-radius: 999px;
    height: 4px;
    z-index: 5
}

.np-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.fill {
    height: 4px;
    background: var(--grad);
    border-radius: 10000px; 
    transition: .1s;
}

.handle {
    width: 0px;
    height: 0px;
    background: var(--handle);
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.5);
    transition: all .1s;
    box-shadow: 0px 1px 10px var(--glow);
}

#newPlay {
    margin-top: 0;
}

.handle-hover {
    background-color: var(--handle) !important;
    width: 8px !important;
    height: 8px !important;
    transition: all .1s !important;
}

.np-active {
    transform: translateY(0px);
}

.not-playing {
    opacity: .65 !important;
}

div#new {
    height: 100%
}

ul#songsPage {
    list-style-type: none;
    text-align: left;
    font-size: 22px;
    position: fixed;
    padding: 0;
    height: calc(100% - 168px);
    margin: 0;
    white-space: nowrap;
    background: var(--bg);
    margin-top: 6px;
    width: 100%;
    overflow-y: scroll;
}

li.results-link {
    border-bottom: 1px solid var(--bd);
    padding: 0 0 7px 0;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin-left: 192px;
}

li:hover {
    background: var(--li-hv);
}

p.new-song-title {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    transform: translateX(15px);
}

.results-link p {
    font-size: 15px;
    width: 100%;
}

div.new-nowplaying i {
    font-size: 26px;
    margin: 0 12px 5px 12px;
    position: relative;
    cursor: pointer;
}

#shuffleButton, #repeatButton {
    font-size: 22px;
    position: relative;
}

div.new-nowplaying i:hover {
    color: var(--hl-txt) !important;
}

#newContent {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
}

.list-wrapper {
    position: relative;
    height: 100%;
}

#newContentWrapper {
    position: relative;
    border-radius: 10px;
    width: 100%;
}

#playType {
    display: inline-block;
    padding-top: 82px;
    vertical-align: top;
    position: fixed;
    z-index: 5;
    background: var(--fg-bg);
    border-right: 2px solid var(--bd);
    height: 100%;
    width: 190px;
    box-shadow: 1px 0px 20px rgba(0,0,0,.15);
}

.play-type-wrapper {
    height: calc(100% - 179px);
    overflow-y: auto;
    padding: 0 0 30px 0;
}

.play-type-wrapper::-webkit-scrollbar {
    display: none;
}

#playType button {
    width: 150px;
    margin-left: 20px;
}

.play-pause {
    font-size: 24px !important;
    padding: 0;
    vertical-align: middle;
    transform: translateX(7px);
    cursor: pointer;
    position: relative;
    bottom: 2px;
    opacity: 0;
}

.play-pause:hover {
    opacity: .65 !important;
}

#new {
    overflow-y: hidden;
    white-space: nowrap;
}

.app-content {
    margin-top: 60px;
    position: relative;
    padding-bottom: 82px;
}

div.type-separator {
    width: 140px !important;
    height: 3px;
    background: var(--bd);
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 10px;
}

@keyframes settingsEntry {
    from {
        top: 45%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes settingsEntryBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#settings {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.35);
    z-index: 11;
    position: fixed;
    align-items: center;
    top: 0;
    animation: settingsEntryBg .2s;
}

#settingsContent {
    width: 650px;
    height: 250px;
    background: #242424;
    z-index: 120;
    position: absolute;
    left: 50%;
    top: 50%;
    vertical-align: top;
    animation: settingsEntry 0.2s;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#settingsContent p {
    font-size: 42px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#audiationVer {
    opacity: .25;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 12px
}

#songPicture {
    min-width: 55px;
    min-height: 55px;
    margin: 15px;
    left: 0;
    border-radius: 3px;
    z-index: 2;
    transition: .15s;
    transition-property: background, transform;
    background: url(../svg/no_image.svg);
    background-position: center !important;
    background-size: cover !important;
}

.np-buttons i {
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin: 10px;
}

.np-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metadata {
    width: 30%;
    height: 85px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.title-artist {
    overflow: hidden;
}

.song-duration {
    margin: 0 10px 0 10px;
    position: relative;
    min-width: 25px;
    max-width: 25px;
    text-align: center;
    font-size: 14px;
}

h1#songTitle {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 22px;
    white-space: nowrap;
    max-width: 350px;
}

#artist {
    margin: 0;
    opacity: .75;
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    line-height: 18px;
}

div.new-nowplaying {
    width: 100%;
    height: 85px !important;
    min-height: 85px !important;
    margin-top: 15px;
    background: var(--fg-bg);
    border-top: 2px solid var(--bd);
    position: fixed;
    overflow: visible !important;
    overflow-y: visible !important;
    display: block;
    bottom: 0px;
    z-index: 9;
    box-shadow: 0px -1px 20px rgba(0,0,0,.15);
}

#controls {
    overflow: hidden;
    width: 40%;
    height: 100%;
    z-index: 15;
    display: flex;
    flex-direction: row;
    
}

#controlsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

button i {
    vertical-align: top;
    position: relative;
    margin-right: 12px;
    font-size: 22px !important;
}

.top-bar {
    margin-top: 0;
    padding: 10px 10px 10px 15px;
    width: 100%;
    background-color: var(--fg-bg);
    border-bottom: 2px solid var(--bd);
    height: 30px;
    position: fixed;
    top: 30px;
    z-index: 9;
    box-shadow: 0px 1px 20px rgba(0,0,0,.15);
    font-family: 'Dosis', sans-serrif;
}

.top-bar-wrapper {
    display: flex;
    position: relative;
    left: 200px;
    bottom: 8px;
}

.top-bar-wrapper h2 {
    margin: 14px 17px 0 17px;
    font-size: 16px;
    opacity: .65;
    transition: .2s;
    text-transform: uppercase;
}

.top-bar-wrapper h2:hover {
    opacity: .9;
}

.tab-active {
    font-size: 20px !important;
    opacity: 1 !important;
    margin: 10px 17px 0 17px !important;
}

.shadow-hide {
    z-index: 10;
    background-color: var(--fg-bg);
    border-bottom: 2px solid var(--bd);
    position: fixed;
    height: 50px;
    top: 30px;
    width: 20px;
    left: 190px;
}

.seek-bar-wrapper {
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    z-index: 15;
    width: 95%;
    display: flex;
    justify-content: center;
}

.seek-time-wrap {
    width: 95%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#noDrag {
    -webkit-app-region: no-drag;
    width: 100%;
    height: 4px;
    position: fixed;
}

.seek-time-wrap {
    position: flex;
}

.volume-control {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin: 5px;
}

.vol-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

#volumeButton {
    font-size: 20px;
    margin: 10px;
}

#volWrapper {
    width: 100px;
}

.vol-bar {
    margin: 10px;
    width: 85px;
    background: var(--bd);
    display: flex;
    align-items: center;
    border-radius: 999px;
    height: 4px;
    transition: .15s;
    margin-right: 15px;
    margin-left: 5px;
}

#songPictureBlur {
    width: 55px;
    height: 55px;
    margin: 15px;
    left: 0;
    top: 2px;
    position: fixed;
    border-radius: 3px;
    transform: scale(1.05);
    z-index: 1;
    opacity: .5;
    filter: blur(5px);
    background: url(../svg/no_image.svg);
    background-position: center !important;
    background-size: cover !important;
    transition: .15s;
    transition-property: background, opacity, transform;
}

.song-picture-decrease, .song-blur-hidden {
    transform: scale(.85);
}

.song-blur-hidden {
    opacity: 0 !important;
    transition: .15s;
}

.active-tab {
    display: inherit !important;
}

.placeholder-message, #songsPage, #playlistsPage {
    display: none;
}

.placeholder-message {
    margin: 40px 0 0 210px;
}

.vol-change {
    height: 30px;
}

.menu {
    position: fixed;
    top: 32px;
    z-index: 11;
    opacity: 0;
    transition: .2s;
    width: 100%;
    height: calc(100% - 32px);
}

.menu-bg {
    position: fixed;
    background: rgba(0, 0, 0, .45);
    height: 100%;
    width: 100%;
    transition: .25s;
    z-index: 12;
}

.menu-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 13;
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 450px;
    height: 300px;
    background: var(--bg);
    border-radius: 10px;
    border: solid 2px var(--bd);
    overflow: hidden;
}

.menu-margin {
    /* padding: 15px 20px 0 25px; */
    height: calc(100% - 15px);
}

h1 {
    font-family: 'Dosis', sans-serif;
    margin: 0 0 10px 0;
}

.menu-controls {
    position: relative;
    height: 244px;
    overflow: hidden;
}

input[type=number] {
    background: var(--bg);
    color: var(--text);
    outline: none;
    border: 2px solid var(--bd);
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: 180px;
}

input {
    font-family: 'Dosis', sans-serrif !important;
}

.menu-controls button {
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
    transition: .2s;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--switch);
    transition: .2s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background: #ffffffb4;
    transition: .2s;
    box-shadow: 0px 1px 10px rgba(0,0,0,.2)
}

input:checked + .switch-slider {
    background: var(--btn);
    box-shadow: 0px 2px 15px var(--glow);
}

input:checked + .switch-slider:before {
    transform: translateX(23px);
    background: #ffffffe8;
}

.switch-slider.round {
    border-radius: 34px;
}
  
.switch-slider.round:before {
    border-radius: 50%;
}

.label-switch, .menu-submenu-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    padding: 5px 20px;
    background: var(--bg);
}

.subbutton-name {
    display: flex;
    align-items: center;
}

.subbutton-name i {
    margin-right: 20px;
}

.label-switch:not(:last-child), .menu-submenu-button:not(:last-child), .customHTML:not(:last-child), .select-list:not(:last-child) {
    border-bottom: solid 1px var(--bd)
}

.label-switch p, .menu-submenu-button p, .select-list p {
    margin: 10px 0;
    font-weight: bold;
}

.label-switch p, .select-list p {
    margin: 10px 0 2px 0;
}

.switch-disabled {
    opacity: .5 !important;
    cursor: not-allowed !important;
}

.main-content {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transform: scale(0.97);
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.36,.07,.19,.97);
    transition-property: transform;
    z-index: 7;
}

.cover-top, .cover-bottom {
    position: fixed;
    background: var(--bg);
    z-index: 6;
    width: 100%;
    height: 70px;
}

.cover-bottom {
    bottom: -10px;
    height: 95px;
}

.restart-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: -65px;
    transition: .2s;
    z-index: 20;
    width: 100%;
}

.restart-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 30px;
    background: var(--fg-bg);
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
    border: solid 2px var(--bd);
    border-bottom: none;
    box-shadow: 0px -1px 20px rgba(0,0,0,.15);
    bottom: 0;
    position: relative;
}

.restart-text {
    margin-right: 10px;
}

.restart-button {
    color: var(--hl-txt);
    font-weight: bold;
    cursor: pointer;
}

.restart-button:hover {
    opacity: .5;
}

.restart-container.rs-compact {
    display: block;
    width: auto;
    right: 0;
}

.restart-label.rs-compact {
    border-radius: 5px 0 0 0;
    box-shadow: none;
    font-size: 11px;
    width: 225px;
    padding: 2px;
    height: 20px;
    border-right: none;
}

.switch-desc {
    font-size: 13px;
    opacity: .75;
    margin-bottom: 10px;
    max-width: 275px;
    word-break: normal;
    white-space: normal;
}

.menu-list {
    position: absolute;
    top: 0;
    transform: none;
    transition: .3s cubic-bezier(0,0,0,1);
    transition-property: transform, filter;
    width: 100%;
    height: 100%;
    box-shadow: -2px 0 10px rgba(0,0,0,.35);
    background: var(--bg);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-list.right {
    transform: translateX(105%);
}

.menu-list.left {
    transform: translateX(-15%);
    filter: brightness(.5)
}

.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 30px);
    padding: 10px 15px;
    background: var(--fg-bg);
    border-bottom: solid 2px var(--bd);
    box-shadow: 0px 1px 20px rgba(0,0,0,.15);
    position: relative;
    z-index: 8
}

.menu-heading {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    right: 25px;
    transition: .3s;
    transition-property: right, transform, font-size, opacity;
    transform: none;
}

.menu-arrow {
    font-size: 26px !important;
    position: relative;
    right: 10px;
    opacity: 0;
    transition: .3s;
    transition-property: right, font-size, opacity;
    bottom: 0;
}

.menu-heading.hidden {
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    bottom: 1px;
}

.menu-arrow.hidden {
    opacity: 1;
    cursor: pointer;
}

.mtitle-btn {
    width: 30%;
    height: 36px;
}

.mtitle-button {
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s;
    top: 0;
    width: 90px;
    transition-property: top;
}

.mtitle-button.hidden {
    top: 6px;
}

.mtitle-button.hidden:hover {
    color: var(--hl-txt);
    cursor: pointer;
}

.submenu-title {
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    opacity: 0;
    transition: .3s;
    position: relative;
    transition-property: opacity, font-size;
}

.submenu-title.hidden {
    opacity: 1;
}

.close-btn-flex {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    font-size: 28px !important;
    cursor: pointer;
}

.close-button:hover {
    color: var(--hl-txt)
}

.menu-submenu-button:hover {
    background: var(--li-hv);
    cursor: pointer;
}

.context-menu {
    display: none;
    position: fixed;
    z-index: 10;
    width: auto;
    height: auto;
    background: var(--fg-bg);
    border: 2px solid var(--bd);
    border-radius: 5px;
    box-shadow: 0px 1px 20px rgba(0,0,0,.15);
}

.context-list {
    display: flex;
    width: auto;
    flex-flow: column;
}

.context-item {
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    padding: 5px;
    vertical-align: middle;
}

.context-item:hover {
    background: var(--li-hv);
}

.context-separator {
    width: auto;
    border: 1px solid var(--bd); 
}

.warning-message {
    font-size: 12px;
    opacity: .75;
    position: relative;
    left: 205px;
    width: 500px;
}

#clearPlaylists {
    color: var(--hl-txt);
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    margin-left: 55px;
    position: relative;
}

.warning-wrap {
    display: flex;
    align-items: center;
}

.song-active {
    color: var(--hl-txt) !important;
}

.song-opac {
    opacity: 1 !important;
}

.createLibraryMsg {
    position: fixed;
    transform: translateY(110px);
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0px 1px 5px rgba(0,0,0,.25);
    color: #ffffff;
}

#playlistsTab, #artistsTab, #albumsTab {
    opacity: .35;
    cursor: not-allowed;
}

#playlistsTab:hover {
    transform: none;
    box-shadow: none;
    background: var(--btn)
}

#artistsTab:hover, #albumsTab:hover {
    opacity: .35;
}

.customHTML {
    padding: 5px 20px;
}

.about-firetail {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.about-firetail img {
    height: 50px;
    margin-right: 10px;
}

.about-name h2 {
    margin: 0;
}

.about-ver {
    font-size: 12px;
    opacity: .75;
    margin-left: 5px;
    transform: translateY(-3px)
}

.about-others div {
    font-size: 12px;
    margin-top: 5px;
}

.name-ver {
    display: flex;
    align-items: flex-end;
}

.select-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    padding: 5px 20px;
    background: var(--bg);
}

.select-container {
    position: relative;
    width: 180px;
    height: 30px;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    color: var(--text);
    width: 180px;
    height: 30px;
}

.select.fixed {
    position: fixed;
}
  
.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg);
    border: solid 2px var(--bd);
    border-radius: 20px;
    padding: 4px 15px;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: var(--text) transparent transparent transparent;
    position: absolute;
    top: 12px;
    right: 10px;
}

.select-styled:hover {
    background-color: var(--li-hv);
}

.select-styled:active, .select-styled.active {
    background-color: var(--li-hv);
    border-radius: 15px 15px 0 0;
}

.select-styled:active:after, .select-styled.active:after {
    top: 6px;
    border-color: transparent transparent var(--text) transparent;
}

.select-options {
    display: none;
    position: fixed;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--bg);
    border: 2px solid var(--bd);
    border-top: none;
    width: 176px;
}

.select-options li {
    margin: 0;
    padding: 5px 0;
    text-indent: 15px;
}

.select-options li:not(:first-child) {
    border-top: solid 1px var(--bd);
}

.select-options li:hover {
    background: var(--li-hv);
}

.select-options li[rel="hide"] {
    display: none;
}

.disable-interact {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    display: none;
}