@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'Dosis Bold';
    src: url('../fonts/Dosis-Bold.otf') format('opentype')
}

html, body {
    margin: 0;
    background: #1f1f1f;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Dosis', 'Muli', 'Karla', Arial, Helvetica, sans-serif !important;
    color: #fff;
    cursor: default;
    user-select: none;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    position: relative;
}

::-webkit-scrollbar {
    background: #313131;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none
}

.title-bar {
    -webkit-app-region: drag;
    width: 100%;
    height: 40px;
    margin: 0;
    position: fixed;
    z-index: 10;
    background: #1f1f1f;
}

.title-bar-name {
    margin: 0;
    float: left;
    padding: 7px;
}

.title-bar-wrapper {
    float: right;
    -webkit-app-region: no-drag;
}

.tb-button {
    width: 25px;
    height: 17px;
    display: inline-block;
    margin: 0;
    padding: 12px;
    cursor: pointer;
    transition: .2s;
}

.tb-button:hover {
    background: rgba(0,0,0,.3);
}

.tb-close:hover {
    background: #ff0000;
}

h1.header-heading {
    font-family: 'Bahnschrift', 'Dosis', 'Muli', 'Karla', Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

#headerIcon {
    display: inline-block;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    /*transform: translateY(-3px);*/
    margin-right: 10px;
    position: relative;
    margin-left: 25px;
}

#betaTag {
    text-align: center;
    font-size: 9px;
    font-family: 'Bahnschrift', 'Dosis', sans-serif;
    margin-top: 0;
    opacity: .65;
    position: relative;
    transform: translateY(-15px);
    left: 0;
    margin-left: 0;
}

.header-beta {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    display: block;
    opacity: .65;
    font-weight: bold;
    font-size: 14px;
}

button {
    background: #7f00b9;
    color: #fff;
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
    font-weight: bold;
    width: auto;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover, .button-active, select:hover {
    opacity: .75;
    transition: .2s; 
}

.button-active {
    cursor: default; 
}

.seek-bar {
    margin: 10px;
    width: 280px;
    background: #2d2d2d;
    display: flex;
    align-items: center;
    border-radius: 999px;
    cursor: pointer; 
    height: 5px;
}

.seek-bar .fill {
    height: 5px;
    background: #7f00b9;
    border-radius: 10000px; 
    transition: .075s;
}

.seek-bar .handle {
    width: 8px;
    height: 8px;
    background: #7f00b9;
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.5);
    transition: all .1s;
}

#newPlay {
    margin-top: 0;
}

.handle-hover {
    background-color: #9601db !important;
    transform: scale(2.25) !important;
}

.np-active {
    transition: .2s ease-in-out;
    transform: translateY(0px);
}

.not-playing {
    opacity: .65 !important;
}

#volumeChange {
    width: 20px;
    height: 60px;
    background: #1d1d1d;
}

div#new {
    height: 100%
}

ul {
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    font-size: 22px;
    position: relative;
    padding: 0;
    transition: .2s;
    /*height: -webkit-fill-available;*/
    height: 100%;
    margin: 0;
    margin-right: 0;
    border-radius: 10px 0px 0px 10px;
    white-space: nowrap;
    background: #272727;
    
}

li {
    border: 2px solid #343434;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;
    padding-top: 5px;
    cursor: pointer;
    transition-duration: .2s;
    overflow: hidden;
    position: relative;
    left: default;
    max-height: 50px;
}

li:hover {
    background: #3d3d3d;
    transition-duration: .2s;
}

.open-file-browser {
    color: #c464f1;
    cursor: pointer;
    transform: translateX(-40px);
}

p.new-song-title {
    margin: 0;
    padding: 0;
    transition-duration: .2s;
    display: inline-block;
    vertical-align: middle
}

.results-link a {
    font-size: 20px;
    transition: .2s;
}

.new-song-hover, .new-song-constant {
    transform: translateX(15px);
    position: relative;
    transition-duration: .2s;
}

.new-song-icon-constant {
    display: inline-block !important;
    opacity: 1 !important;
}

div.new-nowplaying i {
    font-size: 26px;
    margin: 12px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: .2s;
}

#shuffleButton, #repeatButton {
    font-size: 22px;
    position: relative;
    top: 2px;
}

div.new-nowplaying i:hover {
    color: #c464f1 !important;
    transition: .2s;
}

body.light-theme {
    color: #1a1a1a !important;
    background: rgb(248, 248, 248) !important;
}

h1.light-theme {
    color: #1a1a1a !important;
}

#headerIcon.light-theme {
    filter: invert() !important
}

li.light-theme:hover {
    background-color: #c2c2c2
}

li.light-theme {
    border-bottom: 2px solid #a8a8a8
}

div.title-bar.light-theme {
    background: transparent
}

div.tb-button svg.light-theme {
    filter: invert()
}

body.light-theme::-webkit-scrollbar {
    background: #b4b4b4 !important;
}

body.light-theme::-webkit-scrollbar-thumb {
    background: #888888 !important;
}

#newContent {
    position: relative;
    bottom: 0;
    right: 0;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    overflow: visible;
}

#newContentWrapper {
    position: relative;
    margin-left: 185px;
    border-radius: 10px;
}

#playType button {
    display: block !important
}

#playType {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    z-index: 4;
    background: #1f1f1f;
    height: 100%;
    padding-right: 10px;
}

#playType button {
    width: 150px;
    margin-left: 15px;
}

.play-pause {
    font-size: 28px !important;
    padding: 0;
    vertical-align: middle;
}

#new {
    overflow-y: hidden;
    white-space: nowrap;
}

.app-content {
    margin-top: 40px;
    position: relative;
    margin-bottom: 225px;
}

div.type-separator {
    width: 140px !important;
    height: 3px;
    background: #3d3d3d;
    margin: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

@keyframes settingsEntry {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#settings {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.35);
    z-index: 100;
    position: fixed;
    animation: settingsEntry 0.2s;
    align-content: center;
    align-items: center;
}

#settingsContent {
    width: 650px;
    height: 650px;
    background: #242424;
    z-index: 120;
    position: absolute;
    left: 50%;
    top: 50%;
    vertical-align: top;
    transform: translate(-50%, -50%);
}

#settingsContent p {
    font-size: 42px;
    text-align: center;
}

#settingsClose {
    margin-top: 25px;
}

#songPicture {
    width: 55px;
    height: 55px;
    margin: 15px;
    left: 0;
    position: fixed;
    border-radius: 3px;
}

.np-buttons i {
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}

.title-artist {
    text-align: left !important;
    margin-top: 3px;
    margin-left: 80px;
    width: 25%;
    overflow: hidden;
    float: left;
    position: absolute;
}

.song-duration, .seek-bar-wrapper {
    display: inline-block;
}

.song-duration {
    position: relative;
    margin: 10px;
    top: 2px;
    margin-top: 5px;
    min-width: 40px;
}

h1#songTitle {
    font-size: 18px;
    font-family: 'Dosis Bold', 'Dosis', sans-serif;
    margin: 15px;
    margin-left: 7px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding-top: 15px;*/
    text-shadow: 0px 0px 10px #1d1d1d;
    display: block;
}

#artist {
    margin: 7px;
    opacity: .75;
    font-size: 14px;
    display: block;
}

div.new-nowplaying {
    width: 100%;
    height: 85px !important;
    min-height: 85px !important;
    margin-top: 15px;
    background: rgb(27, 27, 27);
    position: fixed;
    overflow: visible !important;
    overflow-y: visible !important;
    display: block;
    bottom: 0px;
    /*box-shadow: 0px 0px 8px rgba(0,0,0,.35);*/
    transition: .2s ease-in-out;
    z-index: 6
}

#controls {
    overflow: hidden;
    background: rgb(27, 27, 27)
}