html.dark {
    --back-bg: #1a1a1a;
    --bg: #292929 !important;
    --fg-bg: #3a3b3b !important;
    --gradient: linear-gradient(to right, #abf5f4, #6887db, #bf96e6);
}

.fill {
    background: var(--gradient) !important;
}

.handle {
    background-color: #bf96e6 !important;
}