html.dark {
    --back-bg: #000000 !important;
    --bg: #18171c !important;
    --bg-op: #18171ca8 !important;
    --fg-bg: #2b2838 !important;
    --sub-fg: #26242c !important;
    --bd: #5f587c !important;
    --button: #322d47 !important;
    --hl-txt: #eb6e64 !important;
    --hl-op: #eb6e642a !important;

    /* .playing-bar {
        background-color: #1f1e25 !important;
    } */

    .bg-banner {
        background-image: url('../assets/songs-banner-new.png');
    }
}

.bg-noise {
    width: 100%;
    height: 100%;
    max-height: 420px;
    position: absolute;
    background-image: url('../assets/noise-colour.jpg');
    background-size: 612px 612px;
    mix-blend-mode: overlay;
    opacity: 0.3;
    pointer-events: none;
}

html.light {
    --back-bg: #e8e5f3 !important;
    --sub-fg: #dedbe4 !important;
    --fg-bg: #d3cbf3 !important;
    --bd: #b4b4b4 !important;
    --button: #c6bde8 !important;
    --hl-txt: #d44835 !important;
    --hl-op: #eb6e642a !important;

    /* .playing-bar {
        background-color: var(--bg) !important;
    } */

    .bg-banner {
        background-image: url('../assets/songs-banner-new.png');
    }

    .bg-banner, .special-gradient-bg-wrapper .bg-image {
        filter: invert(1) hue-rotate(170deg);
    }

    .special-gradient-bg-wrapper .bg-image {
        background: linear-gradient(transparent, transparent, #0c0c0c), radial-gradient(circle at top, transparent 40%, #0c0c0c), url(../assets/songs-banner-new.png);
        background-size: cover;
        background-position: center 80%;
    }

    .bg-gradient {
        opacity: 0.35;
    }

    .sticky-bg .bg-inner, .list-section.sticky {
        background: var(--bg);
    }

    .control-buttons .play-pause-icon {
        background: var(--hl-txt) !important;
        color: var(--text);
    }

    .control-buttons .play-pause-icon:hover {
        box-shadow: 0px 2px 8px rgba(0,0,0,.25);
    }
}

html {
    --main-border-radius: 10px 0px 0px 10px !important;
}

.playing-bar {
    /* background: var(--back-bg) !important; */
    border-top: none !important;
}

.light.vibrancy {
    html, body, .side-bar, .top-bar, .side-bar-inner-container::-webkit-scrollbar {
        background: transparent !important;
    }
    
    .playing-bar {
        /* background: #f3f3f359 !important; */

        .colour-bg {
            opacity: 0.15;
        }
    }

    .container {
        outline: solid 1px #0000001a;
    }
}

.dark.vibrancy {
    .side-bar, .top-bar, .side-bar-inner-container::-webkit-scrollbar {
        background: transparent !important;
    }

    body {
        background: #00000030;
    }

    .container {
        outline: solid 1px #ffffff1a;
    }

    .playing-bar {
        /* background: #1f1e2559 !important; */

        .colour-bg {
            opacity: 0.15;
        }
    }
}

.bg-banner {
    width: 100%;
    height: 100%;
    max-height: 420px;
    background-size: cover;
    background-position: center 80%;
    opacity: 0.75;
    z-index: 1;
    position: relative;
}

.list-gradient-fade {
    background: linear-gradient(transparent, var(--bg)), radial-gradient(circle at top, transparent 40%, var(--bg));
    z-index: 2;
    height: 421px !important;
}

html.dark.highContrast {
    --back-bg: #000000 !important;
    --bg: #18171c !important;
    --fg-bg: #2b2838 !important;
    --sub-fg: #232029 !important;
    --bd: #ffffff !important;
    --button: #322d47 !important;
    --hl-txt: #ff9891 !important;
    --hl-txt-darker: #af2a18;
    --hl-op: #ff98912a !important;
}

html.light.highContrast {
    --back-bg: #dfdfdf !important;
    --sub-fg: #dedbe4 !important;
    --fg-bg: #d7d2e8 !important;
    --bd: #000000 !important;
    --button: #c6bde8 !important;
    --hl-txt: #af2a18 !important;
    --hl-op: #9d1f0e2a !important;
}

.highContrast {
    .container {
        outline: solid 2px var(--bd);
        z-index: 10;
    }

    .bg-banner {
        background-image: none !important;
    }

    .top-title-text p, .artist-title-album span, div.section, .options option, .about p, .list-subtitle, .special-button, .favourite-icon, .song-artist {
        opacity: 1 !important;
    }

    .item-sidebar, .special-button {
        outline: solid 2px var(--bd);
        width: calc(100% - 2px);
        margin: 6px 0px;
        opacity: 1;
    }

    .router-link-active .item-sidebar {
        outline-color: var(--hl-txt);
    }

    .nav-button, .top-button, .search-btn, .dropdown, .dropdown .options, .results-link:hover, div.control-buttons i, div.right-controls i, .switch, .favourite-icon,
    .panel input[type="text"], .panel textarea, .pl-img, .albums-item a, .panel .top i {
        outline: solid 2px var(--bd) !important;
    }

    .panel input[type="text"]:focus, .panel textarea:focus {
        background: var(--text) !important;
        color: var(--back-bg) !important;
    }

    .panel textarea::placeholder {
        color: var(--bd);
        opacity: 1 !important;
    }

    .panel textarea:focus::placeholder {
        color: var(--back-bg);
    }

    .song-album-art {
        border: solid 2px var(--bd);
    }

    .circle-inner, .play-pause-icon, .seek-bar, .vol-bar {
        outline: solid 2px var(--back-bg);
    }

    .circle-inner::after, .play-pause-icon::before, .seek-bar::before, .vol-bar::before, .handle::before {
        content: "";
        outline: solid 2px var(--bd);
        width: 28px;
        height: 28px;
        display: block;
        transform: translate(-2px, -2px);
        border-radius: 100px;
        transition-duration: 0.15s;
        transition-property: width;
    }

    .play-pause-icon::before {
        width: 38px;
        height: 38px;
        transform: none;
        position: absolute;
    }

    .seek-bar::before, .vol-bar::before {
        width: calc(100% + 4px);
        height: 8px;
        position: absolute;
        transform: translate(-2px);
    }

    .handle-hover {
        outline: solid 2px var(--back-bg);
    }

    .handle::before {
        width: 0;
        height: 0;
        outline-color: transparent;
    }

    .handle.handle-hover::before {
        width: 14px;
        height: 14px;
        outline-color: var(--bd);
    }

    .switch:active .circle-inner::after {
        width: 34px;
    }

    .special-gradient-bg-wrapper, .bg-gradient, .bg-noise, .noise, .background-effects {
        display: none;
    }

    .results-link.hactive {
        background: var(--text) !important;
        color: var(--back-bg) !important;
    }

    .results-link.hactive a {
        color: var(--back-bg);
    }

    .results-link.hactive:hover {
        outline: solid 2px var(--hl-txt);
        z-index: 2;
    }

    .results-link.hactive.active, .results-link.hactive.active a {
        color: var(--hl-txt-darker) !important;
    }

    /* .playing-bar {
        border-top: solid 2px var(--text);
    } */

    .resize-line {
        border-left-width: 2px;
        transform: translateX(-1px);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--text);
        background-clip: content-box;
    }

    .button {
        outline: solid 2px var(--bd);
    }

    .panel-container .panel {
        border-width: 2px;
    }

    .artist-inner .item-root {
        margin-bottom: 10px;
    }

    .albums-item a span {
        opacity: 1 !important;
    }
}

html.light.highContrast {
    .sticky-bg.sticky {
        backdrop-filter: none;
        background-color: #fff !important;
    }
}