body {
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: fade .3s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html.firetail {
    --btn: #b92500;
    --btn-hover: #d46000;
    --btn-active: #d66000;
    --handle: #ff9100;
    --glow: rgba(196, 82, 47, 0.4);
    --grad: linear-gradient(to right, #b92500, #ff9100);
    --hl-txt: #df5a25;
    --hl-op: #df5a2523;
}

html.dark {
    --bg: #1a1a1a;
    --text: #ffffff;
    --fg-bg: #1e1e1e;
    --bd: #3a3a3a;
    --li-hv: #212121;
    --logo: 1;
    --switch: #3d3d3d;
}

.content {
    display: flex;
    align-items: center;
}

.crash-image {
    height: 480px;
    width: 300px;
    background-image: url(../assets/crash-tree.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(2);
}

.text {
    margin: 0px 30px 0px 40px;
}

.text p {
    opacity: .75;
    font-size: 18px; 
}

button {
    background: transparent;
    color: var(--text);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    width: 175px;
    height: 37px;
    padding: 0;
    border: 2px solid var(--bd);
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    text-align: left;
    overflow: hidden;
    display: flex;
    transition-property: transform border background color;
}

button:hover {
    background: var(--hl-op);
    transition: .2s;
    box-shadow: 0px 2px 15px var(--glow);
    transform: scale(1.05);
    color: var(--hl-txt);
    border: 2px solid var(--hl-txt);
}

button:active {
    opacity: .8;
    transform: scale(1);
    transition: .1s;
    color: var(--hl-txt);
    border: 2px solid var(--hl-txt);
    box-shadow: 0px 2px 15px var(--glow);
    background: var(--hl-op);
}