<!DOCTYPE html>
<html class="dark firetail">
<head>
    <title>Firetail 0.4.0</title>
    <link rel="stylesheet" href="main.css">
    <link href="../assets/material/material-icons.css" rel="stylesheet">
</head>
<body>
    <div class="app">
        <div class="app-top-bar">
            <div class="top-bar">
                <div class="top-bar-inner-container">
                    <div class="app-info">
                        <i class="material-icons-rounded">menu</i>
                        <div class="firetail-icon"></div>
                        <div class="app-name">Firetail</div>
                        <div class="beta-tag">Beta</div>
                    </div>
                    <div class="nav-top-buttons">
                        <div class="top-button-container">
                            <label class="top-button" id="nuke">
                                <i class="material-icons-rounded">delete</i>
                                <span>Nuke Library</span>
                            </label>
                            <input type="file" id="addFiles" accept="audio/*" multiple style="display: none">
                            <label class="top-button" for="addFiles">
                                <i class="material-icons-rounded">add</i>
                                <span>Add Songs</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-side-bar">
            <div class="side-bar">
                <div class="side-bar-inner-container">
                    <div class="nav-buttons">
                        <side-buttons v-for="item in section1" v-bind:button="item" v-bind:key="item.id"></side-buttons>
                        <div class="type-separator"></div>
                        <side-buttons v-for="item in section2" v-bind:button="item" v-bind:key="item.id"></side-buttons>
                        <div class="type-separator"></div>
                        <side-buttons v-for="item in section3" v-bind:button="item" v-bind:key="item.id"></side-buttons>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-songs-notify">
            <div class="add-notify-text">
                <i class="material-icons-rounded add-icon" v-bind:message="icon">{{ icon }}</i>
                <span class="add-info" v-bind:message="addInfo">{{ addInfo }}</span>
            </div>
            <div class="notify-progbar"></div>
        </div>
        <div class="track-list" id="songsTab">
            <ul class="songs-page">
                <div class="tab-title">
                    <i id="albumArtistBack" class="material-icons-rounded">arrow_back</i>
                    <div class="album-image"></div>
                    <div class="tab-title-text">
                        <h2 v-bind:message="list">{{ list.title }}</h2>
                        <div v-bind:message="list">{{ list.count }}</div>
                    </div>
                </div>
                <div class="list-section">
                    <i class="material-icons-rounded play-pause" style="visibility: hidden;">play_arrow</i>
                    <div class="artist-title-album section">
                        <p class="list-title">Title</p>
                        <p class="list-artist">Artist</p>
                        <p class="list-album">Album</p>
                    </div>
                </div>
                <div class="list-wrapper">
                    <div class="load-spinner"></div>
                    <list-item v-for="item in songList" v-bind:song="item" v-bind:key="item.id"></list-item>
                    <div class="no-songs-found">No songs have been imported. Click Add Songs to import songs into Firetail.</div>
                </div>
            </ul>
        </div>
        <div class="artist-album-list" id="artistsTab">
            <div class="artists-container artists-albums-container">
                <artist-item v-for="item in artistList" v-bind:artist="item" v-bind:key="item.artist"></artist-item>
            </div>
        </div>
        <div class="artist-album-list" id="albumsTab">
            <div class="albums-container artists-albums-container">
                <album-item v-for="item in albumList" v-bind:album="item" v-bind:key="item.album"></album-item>
            </div>
        </div>
        <div class="album-page"></div>
        <div class="app-playing-bar">
            <div class="playing-bar">
                <div class="playing-bar-inner-container">
                    <div class="song-info">
                        <div class="song-album-art"></div>
                        <div class="title-artist">
                            <div class="song-title" v-bind:message="title">{{ title }}</div>
                            <div class="song-artist" v-bind:message="artist">{{ artist }}</div>
                        </div>
                    </div>
                    <div class="track-controls">
                        <div class="track-controls-inner-container">
                            <div class="control-buttons">
                                <i class="material-icons-rounded" id="shuffleButton" v-on:click="click" title="Shuffle">shuffle</i>
                                <i class="material-icons-rounded" id="prevButton" v-on:click="click" title="Previous">skip_previous</i>
                                <i class="material-icons-rounded" id="playPauseBtn" v-bind:message="icon" v-on:click="click" title="Play/pause">{{ icon }}</i>
                                <i class="material-icons-rounded" id="nextButton" v-on:click="click" title="Next">skip_next</i>
                                <i class="material-icons-rounded" id="repeatButton" v-on:click="click" title="Repeat">repeat</i>
                            </div>
                            <div class="seek-time-inner-container">
                                <p class="song-duration" id="songDurationTime">-:--</p>
                                <seekbar></seekbar>
                                <p class="song-duration" id="songDurationLength">-:--</p>
                            </div>
                        </div>
                    </div>
                    <div class="volume-control">
                        <div class="vol-wrap">
                            <i class="material-icons-rounded" id="volumeButton">volume_up</i>
                            <div id="volWrapper" class="seek-bar-wrapper">
                                <div class="vol-bar">
                                    <div id="volFill" class="fill"></div>
                                    <div id="volHandle" class="handle"></div>
                                </div>
                            </div>
                        </div>
    <!--                     <i id="miniPlayerButton" class="material-icons-rounded">open_in_new</i>
     -->                </div>
                </div>
            </div>
        </div>
    </div>
<!--     <script src="../assets/vue.js"></script>
 -->    <script src="./renderer.js"></script>
</body>
</html>