/* Global */
@font-face {
    font-family: 'Questrial';
    src: url('../assets/Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url('../assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-weight: bold;
    src: url('../assets/Inter-SemiBold.ttf') format('truetype');
}

html.black {
    --bg: #000000;
    --text: #dfdfdf;
    --fg-bg: #000000;
    --bd: #272727;
    --li-hv: #080808;
    --logo: 0.9;
    --switch: #1f1f1f;
}

html.dark {
    --bg: #131313;
    --text: #dfdfdf;
    --fg-bg: #1e1e1e;
    --bd: #3a3a3a;
    --li-hv: #1d1d1d;
    --logo: 0.9;
    --switch: #3d3d3d;
    --hl: #252525;
}

html.light {
    --bg: #f5f5f5;
    --text: #3d3d3d;
    --fg-bg: #ffffff;
    --bd: #b4b4b4;
    --li-hv: #dddddd;
    --logo: 0.25;
    --switch: #cccccc;
}

html.audiation {
    --btn: #7f00b9;
    --btn-hover: #ae00ff;
    --btn-active: #c300ff;
    --handle: #c500bb;
    --glow: rgba(149, 47, 196, 0.4);
    --grad: linear-gradient(to right, #9a07df, #c500bb);
    --hl-txt: #c464f1;
    --hl-op: #c464f123;
}

html.firetail-orig {
    --glow: rgba(196, 82, 47, 0.4);
    --hl-txt: #df5a25;
    --hl-op: #df5a251a;
    --gradient1: #e74e8e;
    --gradient2: #ef9135;
}

html.firetail {
    --hl-txt: #eb6e64;
    --hl-op: #eb6e641a;
    --gradient1: #e74e8e;
    --gradient2: #ef9135;
}

html.nature {
    --btn: #2c7700;
    --btn-hover: #2dbd02;
    --btn-active: #2cb900;
    --handle: #47bf00;
    --glow: rgba(59, 179, 27, 0.4);
    --grad: linear-gradient(to right, #154a00, #47bf00);
    --hl-txt: #3a9a01;
    --hl-op: #399a0123;
}

html.aqua {
    --btn: #007973;
    --btn-hover: #00b7af;
    --btn-active: #00b7af;
    --handle: #00ded4;
    --glow: rgba(27, 179, 170, 0.4);
    --grad: linear-gradient(to right, #00524f, #00ded4);
    --hl-txt: #01b9b1;
    --hl-op: #019a8723;
}

::-webkit-scrollbar {
    width: 13px !important;
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    border: solid 5px var(--bg);
    background: var(--bd);
}

::-webkit-scrollbar-button {
    display: none
}

body {
    margin: 0;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', 'Overpass', 'Dosis', Arial, Helvetica, sans-serif !important;
    user-select: none;
}

button {
    background: transparent;
    color: var(--text);
    font-family: 'Inter', 'Overpass', 'Dosis', sans-serif;
    font-weight: bold;
    width: auto;
    height: 37px;
    min-height: 42px;
    padding: 0;
    border: 2px solid var(--bd);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    overflow: hidden;
    display: flex;
    user-select: none;
}

button:hover,
button.button-active {
    background: var(--hl-op);
    transition: .2s;
    box-shadow: 0px 2px 15px var(--glow);
    transform: scale(1.05);
    color: var(--hl-txt);
    border: 2px solid var(--hl-txt);
}

button.button-active {
    cursor: default;
    background: var(--hl-op);
    color: var(--hl-txt);
    border: 2px solid var(--hl-txt);
    box-shadow: 0px 2px 15px var(--glow);
}

button:active {
    opacity: .8;
    transform: scale(1);
    transition: .1s;
    color: var(--hl-txt);
    border: 2px solid var(--hl-txt);
    box-shadow: 0px 2px 15px var(--glow);
    background: var(--hl-op);
}

button i {
    position: relative;
    margin: 0 15px;
    font-size: 22px !important;
}

.load-spinner, .load-spinner:after {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.load-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid var(--text);
    transform: translateZ(0);
    animation: spinner .75s infinite linear;
    margin: 20px 45px;
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.control-buttons i:active, .play-pause:active, #volumeButton:active, .controls i:active,
.mtitle-button.hidden:active, #settingsClose:active, .extra-buttons i:active,
#miniPlayerButton:active, #closeSidemenu:active, #albumArtistBack:active, .tab-buttons div:active, .top-button:active,
.title i:active, .playing-bar-hidden i:active, .top-controls i:active {
    transform: scale(1) !important;
    color: var(--hl-txt);
    opacity: .75;
}

.app {
    position: fixed;
}

.add-songs-notify {
    position: fixed;
    z-index: 3;
    right: 13px;
    top: 60px;
    background: var(--fg-bg);
    height: 40px;
    width: auto;
    padding: 0 15px;
    display: none;
    flex-direction: column;
    border: solid 2px var(--bd);
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
    pointer-events: none;
}

.add-notify-text {
    display: flex;
    align-items: center;
    height: 45px;
}

.notify-progbar {
    width: 0%;
    height: 2px;
    background: var(--hl-txt);
    transform: translateY(2px);
}

.add-songs-notify i {
    font-size: 20px;
}

.add-songs-notify span {
    font-size: 14px;
    margin: 4px 10px 0 10px;
}

.add-songs-notify i.spin {
    animation: iconSpin 1.25s infinite linear;
}

@keyframes iconSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.panel-msg {
    display: none;
    width: calc(100% + 180px);
    height: calc(100vh - 87px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .8;
    position: fixed;
}

.panel-msg h2 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.panel-msg p {
    margin-bottom: 0;
}

.panel-msg i {
    font-size: 105px;
    margin-bottom: 15px;
}

/* command-pane */
.keyboard-control {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 5;
    justify-content: center;
    pointer-events: none;
}

.control-container {
    padding-top: 70px;
    padding-left: 182px;
}

.control-container input {
    outline: none;
    background: var(--fg-bg);
    border: 2px solid var(--fg-bg);
    box-sizing: border-box;
    color: var(--text);
    width: 400px;
    height: 30px;
    padding: 22px 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .15);
    pointer-events: all;
}

.control-container input:focus {
    border: 2px solid var(--hl-txt);
}

/* panel */
.panel {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.4);
    z-index: 4;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
}

.panel.open {
    animation: panel-bg-open .2s;
    opacity: 1;
    pointer-events: all;
}

@keyframes panel-bg-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panel.hidden {
    animation: panel-bg-close .2s;
    opacity: 0;
    pointer-events: none;
}

@keyframes panel-bg-close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.panel-win {
    width: 540px;
    height: 340px;
    border: solid 2px var(--bd);
    border-radius: 20px;
    background: var(--bg);
    box-shadow: 0 1px 10px rgba(0,0,0,.15);
    overflow: hidden;
    animation: panel-appear cubic-bezier(0, 1, 0.35, 1) .5s;
}

@keyframes panel-appear {
    from {
        transform: scale(0.9)
    }
    to {
        transform: scale(1);
    }
}

.panel-win.hidden {
    animation: panel-disappear cubic-bezier(0, 1, 0.35, 1) .5s;
}

@keyframes panel-disappear {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.95);
    }
}

.panel-win .title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title h3 {
    width: 40%;
    text-align: center;
}

.title i {
    font-size: 26px;
    margin-right: 15px;
    text-align: right;
    cursor: pointer;
}

.title i:hover {
    color: var(--hl-txt);
    transform: scale(1.2);
}

.panel-content {
    padding: 10px;
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: auto;
}

.button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    transform: translateX(-10px);
}

.button {
    padding: 10px 20px;
    color: var(--hl-txt);
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.button:hover {
    background: var(--hl-op);
}

.button:active {
    opacity: .8;
    background: var(--hl-op);
}

.button span {
    margin-top: 2px
}

.button i {
    margin-right: 10px;
}

/* Top Bar */
.top-bar {
    width: 100%;
    height: 50px;
    background-color: var(--fg-bg);
    border-bottom: solid 2px var(--bd);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .15);
    position: fixed;
    z-index: 3;
}

.top-bar-inner-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 15px;
    justify-content: space-between;
}

.firetail-icon {
    width: 35px;
    height: 35px;
    background-image: url('../assets/firetail-menu.svg');
    background-size: cover;
    margin: 0 7px 0 10px;
    transform: translateY(-2px);
    filter: brightness(var(--logo));
}

.app-info {
    display: flex;
    align-items: center;
}

.app-name {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 18px;
}

.beta-tag {
    font-size: 10px;
    padding: 3px 4px;
    border: solid 2px var(--text);
    color: var(--text);
    opacity: .75;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    position: relative;
    top: 1px;
    font-weight: bold;
    text-transform: uppercase
}

.tab-buttons {
    margin-left: 40px;
    display: flex;
}

.tab-buttons div {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.tab-buttons div.active {
    color: var(--hl-txt);
    text-decoration: underline;
    transform: scale(1.1);
    cursor: default;
}

.tab-buttons div.active:active {
    opacity: 1;
    transform: scale(1.1) !important;
}

.tab-buttons div:hover {
    color: var(--hl-txt);
    transform: scale(1.1);
}

.top-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.top-button:hover {
    color: var(--hl-txt);
    transform: scale(1.075);
}

.top-button i {
    font-size: 20px;
}

.top-button span {
    margin-left: 5px;
    font-size: 14px;
}

.top-button-container {
    display: flex;
}

/* Side bar */
.side-bar {
    width: 180px;
    height: 100vh;
    background: var(--fg-bg);
    border-right: solid 2px var(--bd);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, .15);
    position: fixed;
    z-index: 2;
}

.side-bar-inner-container {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: calc(100% - 139px);
}

.side-bar-inner-container::-webkit-scrollbar {
    display: none;
}

.side-bar button {
    width: 155px;
    height: 40px;
    margin-top: 20px;
}

.type-separator {
    width: 160px !important;
    min-height: 1px;
    background: var(--bd);
    margin: 0 10px;
    border-radius: 10px;
}

.item-sidebar {
    display: flex;
    width: 180px;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.item-sidebar.active {
    color: var(--hl-txt);
    cursor: default;
}

.item-sidebar:hover {
    color: var(--hl-txt)
}

.item-sidebar:active {
    opacity: 0.75;
    color: var(--hl-txt)
}

.active-indicator {
    width: 3px;
    height: 30px;
    background: var(--hl-txt);
    position: relative;
    display: none;
    border-radius: 0 10px 10px 0;
    pointer-events: none;
}

.item-sidebar i {
    margin: 0 16px;
    pointer-events: none;
    font-size: 20px;
}

.item-sidebar.active i {
    margin: 0 16px 0 13px;
}

.item-sidebar.active span {
    font-weight: bold;
}

.item-sidebar span {
    font-size: 15px;
    transform: translateY(1px);
}

.list-subtitle {
    font-size: 14px;
    opacity: .75;
    text-transform: uppercase;
    margin: 15px 0 5px 16px;
}

.playlist-sidename {
    height: 30px;
}

.playlist-sidename .active-indicator {
    height: 20px;
}

.playlist-sidename span {
    font-size: 14px;
    margin-left: 16px
}

.playlist-sidename.active span {
    margin-left: 13px
}

/* Playing bar */
.playing-bar {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100vw;
    height: 85px;
    background-color: var(--fg-bg);
    border-top: solid 2px var(--bd);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, .15);
}

.playing-bar-inner-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 15px;
}

.song-info {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title-artist {
    overflow: hidden;
}

.song-album-art {
    min-width: 55px;
    min-height: 55px;
    margin-right: 15px;
    left: 0;
    border-radius: 3px;
    z-index: 2;
    background-image: url('../assets/no_image.svg');
    background-color: var(--bg);
    background-position: center !important;
    background-size: cover !important;
    transition: .1s;
}

.song-title {
    font-size: 15px;
    font-family: 'Inter', 'Overpass', sans-serif;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 20px;
    white-space: nowrap;
    max-width: 350px;
    font-weight: bold
}

.song-artist {
    margin: 0;
    opacity: .75;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
}

.track-controls {
    overflow: hidden;
    width: 40%;
    height: 100%;
    z-index: 15;
    display: flex;
    flex-direction: row;
}

.track-controls-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
}

.seek-time-inner-container {
    width: 95%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.seek-bar-inner-container {
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    z-index: 15;
    width: 95%;
    display: flex;
    justify-content: center;
}

.seek-bar {
    margin: 10px;
    width: 95%;
    background: var(--bd);
    display: flex;
    align-items: center;
    border-radius: 999px;
    height: 3px;
    z-index: 5
}

.fill {
    height: 3px;
    background: linear-gradient(to right, var(--gradient1), var(--gradient2));
    border-radius: 10000px;
    transition: cubic-bezier(0, 1, 0.35, 1) .25s;
}

.handle {
    width: 0px;
    height: 0px;
    background: var(--gradient2);
    border-radius: 11111px;
    margin-left: -5px;
    transform: scale(1.5);
    transition: all .1s;
}

.handle-hover {
    width: 7px !important;
    height: 7px !important;
    transition: all .1s !important;
}

.song-duration {
    margin: 2px 5px 0 5px;
    position: relative;
    min-width: 25px;
    max-width: 25px;
    text-align: right;
    font-size: 12px;
}

#songDurationLength {
    text-align: left;
}


.control-buttons i {
    margin: 5px;
    padding: 5px;
}

.control-buttons i:hover, #closeSidemenu:hover, #albumArtistBack:hover, .playing-bar-hidden i:hover, .top-controls i:hover {
    color: var(--hl-txt) !important;
    transform: scale(1.2);
    cursor: pointer;
}

.volume-control {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    margin: 5px;
    margin-right: 25px;
}

.vol-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

#volumeButton, #miniPlayerButton {
    font-size: 20px;
    margin: 10px;
}

#volWrapper {
    width: 100px;
}

.vol-bar {
    margin: 10px;
    width: 85px;
    background: var(--bd);
    display: flex;
    align-items: center;
    border-radius: 999px;
    height: 3px;
    transition: .15s;
    margin-right: 15px;
    margin-left: 5px;
}

#shuffleButton.active, #repeatButton.active {
    color: var(--hl-txt);
    background: var(--hl-op);
    border-radius: 30px;
}

.top-controls {
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    padding: 15px;
    display: none;
}

.hide-np, .show-np {
    width: 30%;
}

.hide-np i, .show-np i {
    font-size: 28px;
}

.top-controls span, .small-np-meta {
    width: 40%;
    text-align: center;
}

.playing-bar-hidden {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 0 15px;
    position: absolute;
    width: calc(100% - 30px);
}

.small-np-meta .song-title {
    font-size: 18px;
}

.small-np-meta .song-artist {
    font-size: 14px;
}

/* Track list */
.songs-page {
    list-style-type: none;
    text-align: left;
    font-size: 22px;
    position: fixed;
    padding: 0;
    height: calc(100% - 137px);
    margin: 0;
    white-space: nowrap;
    background: var(--bg);
    margin-top: 51px;
    margin-left: 182px;
    width: calc(100% - 182px);
    overflow-x: hidden;
    overflow-y: auto;
}

li.results-link {
    border-bottom: 1px solid var(--bd);
    background: var(--bg);
    overflow: hidden;
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    transition: .25s;
    transition-property: margin-left;
}

/* li.results-link:last-child {
    border-bottom: 1px solid var(--bd);
} */

li:hover {
    background: var(--li-hv);
}

li.nohover:hover {
    background: none;
}

.artist-title-album {
    display: flex;
    width: calc(100% - 30px);
    font-size: 14px;
    align-items: center;
}

.list-title {
    margin: 0;
    margin-left: 14px;
    width: calc(40% - 40px);
    padding-right: 40px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0;
    pointer-events: none;
}

.list-artist,
.list-album {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 9px 0;
    padding-right: 40px;
    pointer-events: none;
}

.list-artist span, .list-album span {
    pointer-events: all;
}

.list-artist span:hover, .list-album span:hover {
    color: var(--hl-txt);
    text-decoration: underline;
    cursor: pointer;
}

.list-artist span:active, .list-album span:active {
    color: var(--hl-txt);
    text-decoration: underline;
    opacity: .8;
}

.play-pause {
    font-size: 24px !important;
    padding: 0;
    padding-left: 7px;
    cursor: pointer;
    opacity: 0;
}

.play-pause:hover {
    opacity: .65 !important;
    color: var(--hl-txt) !important;
    transform: scale(1.2);
}

.results-link.active {
    color: var(--hl-txt);
}

.tab-title {
    width: calc(100% - 40px);
    height: 105px;
    min-height: 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    transition: cubic-bezier(0, 1, 0.35, 1) .5s;;
}

.tab-title-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 22px;
    width: calc(100% - 40px);
    pointer-events: none;
}

.tab-title-text.small {
    position: absolute;
}

.tab-title-text.small h2 {
    font-size: 18px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 4;
    background: var(--bg);
    box-shadow: none;
}

#albumArtistBack {
    visibility: hidden;
}

.tab-title h2 {
    margin: 0;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: cubic-bezier(0, 1, 0.35, 1) .5s;
    transition-property: font-size, padding-top;
}

.tab-title-text div {
    opacity: .8;
    font-size: 16px;
    transition: cubic-bezier(0, 1, 0.35, 1) .5s;
    transition-property: opacity;
}

.list-section {
    overflow: hidden;
    height: 30px;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 3;
    background: var(--bg);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: solid 1px var(--bd);
}

.list-section .list-artist:hover, .list-section .list-album:hover {
    color: var(--text);
    text-decoration: none;
    cursor: default;
    opacity: 1;
}

.list-section .list-artist:active, .list-section .list-album:active {
    color: var(--text);
    text-decoration: none;
    opacity: 1;
}

div.section {
    font-size: 12px;
    opacity: .75;
}

.empty-space {
    width: 31px;
    height: 24px;
}

.no-songs-found {
    display: none;
    opacity: .8;
    font-size: 16px;
    padding: 20px 0 0 45px;
}

.highlight {
    background: var(--hl) !important;
}

/* Artist & album tabs */
.artist-album-list, .playlists-list {
    margin: 52px 0 0 182px;
    height: calc(100vh - 139px);
    width: calc(100vw - 182px);
    display: none;
    overflow: hidden;
    overflow-y: auto;
}

.artists-container, .albums-container, .playlists-container {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.artist-item h3, .album-item .album-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
}

.artist-item, .album-item {
    width: 150px;
    height: 25px;
    background: var(--fg-bg);
    border: solid 2px var(--bd);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.15);
    cursor: pointer;
}

.album-item {
    width: 200px;
    height: 40px;
    justify-content: flex-start;
}

.album-item .album-cover {
    width: 45px;
    height: 45px;
    min-width: 45px;
    background-color: var(--bg);
    background-size: cover;
    border-radius: 5px;
    margin-right: 15px;
    opacity: 0;
    transition: .2s;
}

.album-item div {
    width: 140px;
}

.album-artist-name {
    margin: 0;
    font-size: 13px;
    opacity: .4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist-item:hover, .album-item:hover {
    background: var(--li-hv);
    transform: scale(1.03);
    color: var(--hl-txt)
}

.artist-item:active, .album-item:active {
    background: var(--fg-bg);
    opacity: .5;
    transform: scale(1);
    color: var(--hl-txt);
}

/* Playlists */
.playlist-item {
    margin: 15px;
    width: 160px;
    height: auto;
}

.playlist-item-inner-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.playlist-item-inner-container:hover {
    background: var(--li-hv);
    color: var(--hl-txt);
}

.playlist-item-inner-container:active {
    background: var(--li-hv);
    color: var(--hl-txt);
    opacity: .8;
}

.playlist-image {
    background-image: url('../assets/no_album.svg');
    background-color: var(--fg-bg);
    width: 140px;
    height: 140px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: .1s;
}

.playlist-name {
    margin-top: 15px;
    width: 160px;
    text-align: center;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-create-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-create-img {
    width: 135px;
    height: 135px;
    background-image: url('../assets/no_album.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--fg-bg);
    border-radius: 5px;
    margin-right: 40px;
}

.playlist-image-label {
    position: absolute;
    background: #00000075;
    width: 135px;
    height: 135px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    cursor: pointer;
}

.playlist-image-label:hover {
    opacity: 1;
}

.panel-content input[type="text"], .panel-content textarea {
    background: var(--fg-bg);
    color: var(--text);
    font-family: 'Inter', 'Overpass';
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    outline-color: var(--hl-txt);
    font-size: 14px;
    width: 245px;
}

.panel-content textarea {
    resize: none;
    height: 80px;
}

.panel-content input[type="text"]:not(:last-child), .panel-content textarea:not(:last-child) {
    margin-bottom: 20px;
}

.input-label {
    font-size: 12px;
    margin: 5px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: .8;
}

.long-text {
    height: 120px;
}

.addPl-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.addPl-item:hover {
    background-color: var(--li-hv);
}

.addPl-item:active {
    background-color: var(--li-hv);
    opacity: .8;
}

.addPl-item:not(:last-child) {
    border-bottom: solid 1px var(--bd);
}

.addPl-img {
    background-color: var(--fg-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-right: 20px;
}

/* Context menu */
.context-menu {
    display: none;
    position: fixed;
    z-index: 10;
    min-width: 150px;
    height: auto;
    background: var(--bg);
    border: 2px solid var(--bd);
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

.context-list {
    display: flex;
    width: auto;
    flex-flow: column;
}

.context-list div:last-child {
    margin-bottom: 5px;
}

.context-item {
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 5px 0px 5px;
    vertical-align: middle;
}

.context-item:hover {
    background: var(--li-hv);
}

.context-separator {
    width: auto;
    border: 1px solid var(--bd);
    margin-top: 5px;
}