html.dark {
    --back-bg: #000000 !important;
    --bg: #18171c !important;
    --fg-bg: #2b2838 !important;
    --sub-fg: #232029 !important;
    --bd: #5f587c !important;
    --button: #322d47 !important;
    --hl-txt: #eb6e64 !important;
    --hl-op: #eb6e642a !important;

    .playing-bar {
        background-color: #1f1e25 !important;
    }

    .bg-banner {
        background-image: url('../assets/songs-banner.svg');
    }
}

html.light {
    --back-bg: #dfdfdf !important;
    --sub-fg: #dedbe4 !important;
    --fg-bg: #d7d2e8 !important;
    --bd: #b4b4b4 !important;
    --button: #c6bde8 !important;
    --hl-txt: #d44835 !important;
    --hl-op: #eb6e642a !important;

    .playing-bar {
        background-color: var(--bg) !important;
    }

    .bg-banner {
        background-image: url('../assets/songs-banner-light.svg');
    }

    .bg-gradient {
        opacity: 0.35;
    }

    .sticky-bg .bg-inner, .list-section.sticky {
        background: none;
    }

    .sticky-bg.sticky {
        background: #ffffff50 !important;
        backdrop-filter: blur(20px);
    }
}

.text {
    color: #7e769c !important;
}

.bg-banner {
    width: 95%;
    height: 100%;
    max-height: 350px;
    background-size: cover;
    background-position: center 85%;
    //opacity: 0.2;
}