html.dark {
    --bg: #18171c !important;
    --fg-bg: #2b2838 !important;
    --sub-fg: #232029 !important;
}

#app.test {
    /* honestly i don't know what the direction is here but whatever as long as it no longer looks like a spotify clone */
    
    /* .root-sl {
        background: #18171c;
    } */
    
    .playing-bar {
        background-color: #1f1e25;
        border-top: solid 1px var(--bd) !important;
    }

    .colour-bg {
        filter: saturate(0.8);
    }
    
    .standard .bg-gradient {
        //background: linear-gradient(rgb(5, 5, 5), transparent) !important;
        //background: #18171c;
    }
    
    .list-gradient-fade {
        display: none;
    }
    
    .bg-banner {
        width: 95%;
        height: 100%;
        max-height: 350px;
        background-image: url('../assets/songs-banner.svg');
        background-size: cover;
        background-position: center 85%;
        //opacity: 0.2;
    }
    
    .sticky-bg {
        //backdrop-filter: blur(15px);
    }

    .list-section {
        border-color: #5f587c;
    }

    .list-section.sticky {
        //border: none;
        box-shadow: 0px 5px 5px rgba(0,0,0,.1);
    }
}

html.light {
    --sub-fg: #DEDBE4 !important;
    --fg-bg: #D7D2E8 !important;
}

:root.light #app.test {
    .bg-banner {
        background-image: url('../assets/songs-banner-light.svg');
    }

    .list-section {
        border-color: #5f587c73;
    }

    .sticky-bg {
        //background: #f0ecff !important;
        background: #ffffff50 !important;
        backdrop-filter: blur(20px);
    }

    ::-webkit-scrollbar {
        //width: 16px !important;
        background: var(--bg);
        -webkit-app-region: no-drag;
    }
    
    ::-webkit-scrollbar-thumb {
        border: solid 4px var(--bg);
        background: #322d4750;
        border-radius: 20px;
        min-height: 60px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #322d47;
    }
    
    ::-webkit-scrollbar-thumb:active {
        background: var(--hl-txt);
    }
    
    ::-webkit-scrollbar-button {
        display: none
    }

    .nav-button, .search-btn, .top-button-container {
        background: #ffffff7c;
        backdrop-filter: blur(20px);
    }

    .playing-bar {
        background: var(--bg);
        color: var(--text);

        .play-pause-icon:hover, .play-pause-icon:active {
            text-shadow: none;
            opacity: 0.8 !important;
        }

        .play-pause-icon:active {
            opacity: 0.6 !important;
        }
    }

    .seek-bar, .vol-bar {
        background: #00000025;

        .seek-hover-indicate {
            color: #ffffff;
        }

        .fill-hover {
            background: #00000036;
        }
    }

    .side-bar {
        background: #dfdfdf;
        color: var(--text);

        .item-sidebar, .special-button {
            color: var(--text);
        }

        .special-button .material-icons, .list-subtitle {
            border-color: var(--text);
        }

        /* .router-link-exact-active .item-sidebar, .router-link-active .item-sidebar {
            color: white;
        } */

        .beta-tag {
            border-color: var(--text);
            color: var(--text);
        }

        .firetail-icon {
            filter: none;
        }
    }

    .bg-gradient {
        opacity: 0.35;
    }

    li:hover {
        background: #00000010;
    }
    
    .results-link.hactive {
        background: #00000028;
    }
    
    .results-link.hactive:hover {
        background: #00000022;
    }

    .artist-inner {
        border-color: #5f587c73;
    }
}